/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
Main Styling
*/

html{
  background-color: rgb(3, 33, 52);

}


.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: 'Lexend Deca', sans-serif;
}



.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input{
  width: 50%;
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: 'Lexend Deca', sans-serif;
  border-color: blue;
  border-radius: 8px;
  padding: 8px;
  font-size: 12pt;
}

.login-form input:focus{
  border: 2pt;
  border-color: rgb(0, 191, 255);
}

.r-labs{
  padding-top: 10%;
  padding-bottom: 5%;
  
  font-weight: 600;
  font-size: 32pt;
}

#login{
  font-family: 'Lexend Deca', sans-serif;
  background-color: transparent;
  border-radius: 4pt;
  color: white;
  border-color: rgb(0, 191, 255);
  font-size: 16pt;
  width: 45%;
}

#login:hover{
  background-color: rgb(0, 191, 255);
  color: black;
  border: white;
  padding: 2px;
}

#email:focus{
  outline: none !important;
    border: 2px solid red;
}

*:focus {
  outline: none;
  border-color: red;
}

.login-form label{
  font-size: 20pt;
  font-weight: 500;
}

.email-errors{
  color: rgba(214, 18, 0, 0.853);
  padding-bottom: 20px;
}

.password-errors{
  color: rgba(214, 18, 0, 0.853);
  padding-bottom: 20px;
}

.todo-row{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  width: 100%;
  color: black;
}

.todo-text{
  padding-left: 10px;
}

.icons{
  padding-right: 15px;
}

.edit-icon{
  padding-right: 10px;
}

.hoverable{
  opacity: 70%;
}
.hoverable:hover{
  cursor: pointer;
  opacity: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: rgba(225, 242, 255, 0.889);
  width: 400px;
  height: 400px;
  overflow-y: auto;
  border: 2px solid black;
  border-radius: 4px;
}

.todo-form{
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  width: 100%;
}

#new-form{
  width: 100%;
}
.todo-input{
  border: 2px solid black;
  background-color: transparent;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
  text-align: center;
  margin-right: 10px;
}

.todo-button{
  border: 2px solid black;
  background-color: transparent;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 12pt;
}

.logout {
  width: 25%;
  margin: auto;
  margin-bottom: 10px;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16pt;
  color: white;
  background-color: black;
  border: 2px solid white;
  border-radius: 3px;
}

.search{
  border-radius: 8px;
  border: 1px solid black;
  font-family: 'Lexend Deca', sans-serif;
}

.hidden{
  display: none;
}

.header{
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 3px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

